.feedAndRank {
  display: flex;
  margin-top: 50px;
  margin-right: -15px;
  margin-left: -15px;

  .feedBox {
    position: relative;
    width: 66.66666666666666%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    .btnDiv {
      .writeBtn {
        width: 100px;
        padding: 16px 12px;
        border: none;
        border-radius: 6px;
        background-color: #5e3dea;
        color: #fff;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .totalFeedCount {
      display: flex;
      justify-content: end;
    }
  }
}
