.order {
  padding: 120px 0;

  .subscribeInfo {
    .subscribeTitle {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
    }

    .subscribeDiv {
      display: flex;
      align-items: center;
      padding: 30px 30px 70px 30px;
      border-bottom: 1px solid #ccc;
      gap: 70px;

      .subscribeImgAndMonth {
        .subImg {
          display: block;
          width: 100px;
        }
      }

      .subTable {
        width: 100%;
        text-align: center;

        tr {
          td {
            padding: 20px;
            border: 1px solid black;
          }
        }
      }
    }
  }

  .paymentMethod {
    margin-top: 70px;

    .methodTitle {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
    }

    .selectMethod {
      display: flex;
      padding: 30px 30px;

      .buttonDiv {
        padding: 4px;
        flex: 1;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 56px;
          padding: 11px 22px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 15px;
          font-weight: 400;
          background-color: white;

          img {
            max-width: 160px;
          }
        }
      }
    }
  }
}
