.community {
  padding: 120px 0;

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;

    .challengeBanner {
      // 배너 위치
    }
  }
}
