.community {
  padding: 90px 0 90px 0;

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;

    .challengeBanner {
      // 배너 위치
    }

    .feedAndRank {
      margin-top: 50px;
      margin-right: -15px;
      margin-left: -15px;

      .feedBox {
        position: relative;
        width: 66.66666666666666%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

        .btnDiv {
          // display: flex;
          // justify-content: flex-end;

          .writeBtn {
            width: 100px;
            padding: 16px 12px;
            border: none;
            border-radius: 6px;
            background-color: #5e3dea;
            color: #fff;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
          }
        }

        .totalFeedCount {
          display: flex;
          justify-content: end;
        }

        .feedList {
          margin: 0;
          margin-top: 20px;
          padding: 0;

          li {
            border: 1px solid #ddd;
            border-radius: 6px;
            list-style: none;
            line-height: 1.7em;
            margin-bottom: 40px;
            margin-top: 0px;
            padding-bottom: 40px;

            .feedContent {
              .userDiv {
                display: flex;
                justify-content: space-between;
                height: 40px;
                margin-top: 10px;
                padding: 0 5px;

                .userInfo {
                  display: flex;
                  align-items: center;
                  gap: 8px;

                  .badge {
                    width: 36px;
                    height: 36px;
                    justify-content: center;
                    flex-shrink: 0;

                    img {
                      width: 36px;
                      height: 36px;
                      border-radius: 100px;
                      border: 0.5px solid #ddd;
                    }
                  }

                  .nickname {
                    font-size: 14px;
                    font-weight: bold;
                  }
                }

                .btnBox {
                  display: flex;
                  justify-content: flex-end;
                  gap: 8px;

                  .changeBtn {
                    border: none;
                    border-radius: 6px;
                    background-color: #5e3dea;
                    color: #fff;
                    text-align: center;
                    font-weight: bold;
                    cursor: pointer;
                  }

                  .deleteBtn {
                    border: none;
                    border-radius: 6px;
                    background-color: #5e3dea;
                    color: #fff;
                    text-align: center;
                    font-weight: bold;
                    cursor: pointer;
                  }
                }
              }

              .feedImage {
                margin-top: 10px;
                img {
                  width: 100%;
                  margin-bottom: 20px;
                  vertical-align: middle;
                  border: 0;
                }
              }

              .feedText {
                padding: 0 12px;

                .text {
                  margin-bottom: 10px;
                }

                .commentDiv {
                  .commentThings {
                    font-weight: bold;
                  }
                }

                .writeDate {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      .ranking {
        padding-left: 20px;
      }
    }
  }
}
