.community {
  padding: 120px 0;

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;

    .challengeBanner {
      border-radius: 12px;
      overflow: hidden;

      .challengeImg {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
