.kakaoMap {
  border-radius: 20px;
  border: 2px solid black;
  width: 1000px;
  height: 500px;
  overflow: hidden;

  .menu {
    position: absolute;
    padding: 10px 10px;
    z-index: 1;

    .searchInput {
      width: 200px;
      border-radius: 6px;
      height: 30px;
    }

    .searchButton {
      background-color: #5e3dea;
      color: wheat;
      border-radius: 6px;
      border: none;
      width: 60px;
      height: 30px;
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .map {
    height: 100%;
    z-index: 0;
  }
}
