.commentList {
  .commentContainer {
    .commentOlList {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 6px;
      gap: 30px;
      font-size: 14px;

      .userInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .userBadgeImg {
          display: block;
          width: 25px;
          border-radius: 100px;
          border: 0.5px solid #ddd;
        }

        .userNickname {
          width: 100px;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .userComment {
        width: 400px;
        line-height: 1.5;
      }

      .commentEditInput {
        width: 400px;
      }

      .isMyDiv {
        width: 150px;

        .btnDiv {
          display: flex;
          justify-content: center;
          width: 100%;
          gap: 5px;

          .btnBox {
            border: none;
            border-radius: 6px;
            background-color: #ccc;
            color: #fff;
            text-align: center;
            font-weight: bold;
          }
        }

        .writeData {
          width: 150px;
          text-align: center;
        }
      }
    }
  }
}
