.mainContainer {
  width: 100%;
  height: 100%;

  .feedContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 1200px;
    padding: 120px 0;

    .innerSection {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      // height: 500px;
      width: 700px;
      border: 1px solid #ede5e5;
      border-radius: 6px;

      .titleSection {
        text-align: center;
        margin: 5px auto;
        width: 100%;
        font-size: 25px;
        font-weight: 700;
      }

      .prvSection {
        display: flex;
        align-items: center;
        height: 200px;
        padding: 0 10px;
        gap: 10px;

        .previewList {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 150px;
          margin: 20px 0;

          & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .individualDeletion {
          border: none;
          border-radius: 6px;
          margin-top: 10px;
          width: 40px;
          height: 20px;
          background-color: #5e3dea;
          color: white;
        }
      }

      .topSection {
        display: flex;
        flex-direction: row;
        height: 35px;
        margin-bottom: 5px;

        #chooseFile {
          visibility: hidden;
        }

        .fileBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 100%;

          label {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            font-size: 30px;
            cursor: pointer;
          }
        }
      }

      .buttomSection {
        .challengeCheck {
          display: flex;
          justify-content: center;
          margin: 3px 0 0 0;
          border-top: 1px solid #ede5e5;

          input[type='checkbox'] {
            width: 17px;
            height: 17px;
          }

          span {
            font-size: 15px;
            margin: auto 0;
          }
        }
      }

      .textSection {
        display: flex;
        align-items: center;
        justify-content: center;

        textarea {
          width: 80%;
          height: 6.25em;
          border: none;
          resize: none;
          font-family: 'Pretendard';
          border: 2px solid #9f8cf4;
          border-radius: 6px;
          padding: 5px 7px;
        }
      }

      .buttonArea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        button {
          border: none;
          border-radius: 6px;
          margin: 10px 20px 10px 20px;
          width: 120px;
          height: 40px;
          background-color: #5e3dea;
          color: #ffff;
          letter-spacing: 5px;
        }

        button:hover {
          background-color: #002ead;
          transition: 0.7s;
        }
      }
    }
  }
}
