.Exercise {
  padding: 80px 0;
  text-align: center;

  img {
    display: block;
    width: 100%;
  }

  .pageLogo {
    margin: auto;
    width: 160px;
  }

  .pageText {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
  }

  .subText {
    color: #5e3dea;
    margin-top: 20px;
  }

  .userDietInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ededed;
    border-radius: 16px;
    margin-top: 40px;
    padding: 34px 30px 30px 30px;

    .userNotice {
      display: flex;
      align-items: center;
      margin-right: 50px;

      .badge {
        margin-right: 12px;
      }

      .userCal {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    .userNutrient {
      display: flex;

      .NutrientCircle {
        position: relative;
        display: block;
        margin-right: 18px;
        width: 100px;
        height: 100px;
        border-radius: 16px;
        background-color: #5e3dea;
        color: #fff;

        .nutrientText {
          position: absolute;
          top: 16px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 16px;
          white-space: nowrap;
        }
        .nutrientNum {
          .fontSizeThin {
            font-size: 22px;
            font-weight: bold;
          }
          position: absolute;
          top: 52%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 34px;
          font-weight: bold;
        }
      }
    }
  }
  .dietContentWrapper {
    .todayDietContainer {
      position: relative;
      padding: 40px 30px 30px 30px;
      width: 100%;
      border: 1px solid #ededed;
      border-radius: 16px;
      margin-top: 60px;

      .todayText {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -76px;
        background-color: #fff;
        font-size: 30px;
        font-weight: bold;
        margin-top: 60px;
      }
      .timeText {
        font-size: 24px;
        margin-bottom: 24px;
      }
      .breakfastContainer {
        margin-bottom: 40px;
      }

      .dietBoxWrapper {
        position: relative;
        display: flex;
        justify-content: center;

        .dietBox {
          width: 330px;
          border: 1px solid #ededed;
          border-radius: 12px;
          overflow: hidden;

          .imgBox {
            border-bottom: 1px solid #ededed;
            height: 50%;
            overflow: hidden;
          }
          .dietInfo {
            padding: 20px;

            .infoText {
              margin-bottom: 12px;
            }

            .nutrientName {
              display: inline-block;
              padding: 10px 14px;
              border-radius: 6px;
              background-color: #e8e3f7;
              color: #5e3dea;
            }
            .foodName {
              font-weight: bold;
            }
            .foodCount {
              color: #5e3dea;

              .gram {
                color: #333;
              }
            }
            .foodInfo {
              color: #666;
              font-weight: 300;
              font-size: 16px;
              line-height: 1.4;
              word-break: keep-all;
              margin-bottom: 0;
            }

            .foodCount {
              .numerator {
                font-size: 14px;
                vertical-align: top;
              }
              .denominator {
                font-size: 14px;
                vertical-align: bottom;
              }
            }
          }
        }
      }
    }
  }
}
