.nav {
  display: flex;
  position: sticky;
  justify-content: center;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;

  .navinner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;

    .logoSection {
      width: 120px;
      img {
        display: block;
        width: 100%;
        cursor: pointer;
      }
    }
    .navList {
      display: flex;
      height: 70px;

      background-color: #ffffff;
      align-items: center;

      .userGrade {
        width: 20px;
        margin-left: 25px;
      }

      button {
        border: 0;
        background-color: #ffffff;
        color: #333;
        font-size: 16px;
        margin-left: 26px;
      }

      img {
        display: block;
        width: 100%;
        cursor: pointer;
      }

      .btnLogAuto {
        border: 0;
        background-color: #ffffff;
        font-family: 'Pretendard';
        font-size: 14px;
        color: #333;
        cursor: pointer;
        margin-left: 0;

        .userNickname {
          color: #5e3dea;
          font-weight: bold;
        }
      }

      .btnSignUp {
        border: 0;
        margin: auto;
        text-decoration-line: none;
        font-family: 'Pretendard';
        font-size: 14px;
        color: #333;
        background-color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
