.nav {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: unset;
  transition: all 0.4s;

  .navinner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;

    .logoSection {
      width: 120px;
      img {
        display: block;
        width: 100%;
        cursor: pointer;
      }
    }
    .navList {
      display: flex;
      height: 70px;
      align-items: center;

      .userGrade {
        width: 20px;
        margin-left: 25px;
      }

      button {
        border: 0;
        font-size: 16px;
        margin-left: 26px;
        background-color: unset;

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
      button.black {
        color: #333;
      }

      img {
        display: block;
        width: 100%;
        cursor: pointer;
      }

      .btnLogAuto {
        border: 0;
        font-family: 'Pretendard';
        font-size: 14px;
        color: #333;
        cursor: pointer;
        margin-left: 0;

        .userNickname {
          color: #5e3dea;
          font-weight: bold;
        }
      }

      .btnSignUp {
        border: 0;
        margin: auto;
        text-decoration-line: none;
        font-family: 'Pretendard';
        font-size: 14px;
        color: #333;
        cursor: pointer;
      }
    }
  }
}
.nav.white {
  background-color: #fff;
  transition: all 0.4s;
}
